.container {
    margin-top: 50px;
    max-width: 40%;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 8px;
}

#divLogin{
    padding-top: 20px;
    padding-bottom: 20px;
}

#g_id_signin{
    width: 100%;
}